body {
    /*  100% means use browser's default font size
        shorthand is:
            font: normal 100% Helvetica, Arial, sans-serif;
    */
    font-family: 'Raleway', sans-serif;
    line-height: 1.0;
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-size: 120%;
}

/* Grid is amazing! But is not fully supported by IE 11.
    Thankfully, only 2% of all people use IE.
    Hopefully you're not one of them.
*/
@supports (display: grid) {
    /* screen is big enough for big layout */
    @media screen and (min-width: 34em) {
        body {
            background-color: lightcyan;
            padding: 0px;
            margin: 0px;

            display: grid;
            grid-template-areas:
                "navbar navbar navbar" 
                "banner banner banner" 
                ". content ." 
                "footer footer footer";
            grid-template-rows: auto auto auto 8rem;
            grid-template-columns: 1fr 4fr 1fr;
            position: relative;
        }
    }
}

/* Grid not supported! To-do: use flex instead */
@supports not (display: grid) {
}

#navbar {
    grid-area: navbar;
    background-color: darkgrey;
    display: grid;
    grid-template: "logo links ." auto / 10em auto 10em;
    justify-items: justify;
}

#left-logo-container {
    grid-area: logo;
}

#left-logo-container > a > img {
    height: auto;
    width: 10rem;
}

#navbar > #links {
    grid-area: links;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#navbar > #links > a {
    margin: 0 .5em;
    text-align: center;
}

#banner {
    grid-area: banner;
    background-color: pink;
}

#content {
    grid-area: content;
    background-color: greenyellow;
}

#side {
    grid-area: side;
    background-color: lightgrey;
}

#footer {
    grid-area: footer;
    background-color: palevioletred;
}

.head_text {
    font-family: 'Slabo 13px', serif;
    font-variant: small-caps;
}

.big {
    font-size: 2em;
}

.center {
    text-align: center;
}

div {
    border: 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}